.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(117, 93, 6);
    margin: auto;
    width: 50%;
    background: rgb(251, 221, 166);
}
.title {
    display: flex;
    justify-content: center;
}